.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 20px;
}

.mainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.pontecyContainer {
  display: flex;
  flex-direction: row;
}
